<div class="edit-workout">
  <h2 name="action">New Workout</h2>

  <form class="form-inline">
    <input class='id' hidden="id" value="new">

    <label class="mr-sm-2">Date</label>
    <input class="date form-control mb-2 mr-sm-1 mb-sm-0" type="date">

    <label class="mx-sm-2">Reps</label>
    <input class="reps form-control" type="number">

    <label class="mx-sm-2">Name</label>
    <input class="name form-control" type="text">

    <label class="mx-sm-2">Weight</label>
    <input class="weight form-control" type="number">

    <label class="mx-sm-2">Unit</label>
    <select class="unit custom-select">
      <option value="lbs">lbs</option>
      <option value="kg">kg</option>
    </select>
    <button type="submit" class="save btn btn-primary ml-sm-2">Save</button>
  </form>
</div>