<div class="row">
  <div class="col">
    <h1 class="center">I Work Ouuut</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    {{> editworkout}}
  </div>
</div>

<div class="row">
  <div class="col">

    <h2>Workouts - Would ya just look at it! Look at this, look at that!</h2>

    <table class="table table-striped">
      <thead class="thead-dark">
        <th>Date</th>
        <th>Reps</th>
        <th>Name</th>
        <th>Weight</th>
        <th>Unit</th>
        <th>Edit</th>
        <th>Delete</th>
      </thead>

      <tbody>
        {{#each workouts as |workout|}}
          {{> workout workout=workout}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>